@page {
    size: letter landscape;
}
/* Estilo para el body */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #eef0fa;
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centramos horizontalmente */
    align-items: flex-start; /* Centramos verticalmente hacia arriba */
    min-height: 100vh; /* Asegura que el contenido ocupe al menos la altura de la ventana */
}

/* Estilos para la sección principal */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* Puedes ajustar el valor según tus necesidades */
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    border: 2px solid;
    /*border-image: linear-gradient(to right, #444343, #dddddd) 1;*/
    border-color: #d2cece;
}


.container {
    text-align: center;
    justify-items: center;
}

/* Estilo para la imagen institucional */
img {
    display: flex;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
    justify-content: center;
}

/* Estilo para el encabezado */
h1 {
    font-family: Verdana sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center; /* Alineación al centro horizontal */
}

h2 {
    font-family: Arial sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/* Estilos para la tabla */
#datos_estudiante {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    max-width: 100%; /* Ancho máximo que puede ocupar la tabla */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

#datos_estudiante td, #datos_estudiante th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 10px; /* Tamaño de fuente del cuerpo de la tabla */
    text-align: left;
    vertical-align: middle;
    height: fit-content;
    word-wrap: break-word;
}

#registrodecursos {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 20px;
    table-layout: auto; /* Ajustar al tamaño del contenido de las celdas */
}

#registrodecursos td, #registrodecursos th {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 11px; /* Tamaño de fuente del cuerpo de la tabla */
    text-align: center;
    vertical-align: middle;
    height: fit-content;
    word-wrap: break-word;
}

#registrodecursos th {
    height: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #c5c5c5; /* Color de fondo del encabezado */
    font-size: 12px; /* Tamaño de fuente de los encabezados */
    font-weight: bold;
    color: black; /* Color del texto del encabezado */
}


.button-container {
    display: flex; /* Cambiamos el diseño del contenedor a flex */
    justify-content: flex-end; /* Alineamos los elementos al final (derecha) del contenedor */
    margin-bottom: 10px;
}

/* Estilos para los botones dentro del contenedor */
.button-container a {
    margin-left: 10px; /* Agregamos un margen izquierdo entre los botones para separarlos */
}

/* Estilo para el botón de cerrar sesión */
.logout-button {
    background-color: #dc3545; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón (vertical horizontal) */
    font-size: 14px; /* Tamaño de fuente del texto del botón */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Estilo al pasar el cursor por encima del botón */
.logout-button:hover {
    background-color: #c82333; /* Color de fondo del botón al pasar el cursor */
}
/*
.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
} */
.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px; /* Establecer una altura mínima adecuada */
}


.border-custom-1 {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s, border-color 0.2s;
}

.container-1:hover .border-custom-1 {
    transform: translate(0, -5px);
    border-color: #4CAF50; /* Cambiar a tu color preferido */
}