<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Agrega estilo tabla de datos Boostrap
    <link rel="stylesheet" href="{% static 'Boostrap5/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'CSS_CORDINS/palen_posgrados.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.jqueryui.min.css">
    <title>ESTUDIANTES POR POSGRADO</title>

</head>

<header>
    <!-- La imagen institucional -->
    <div class="center-image">
        <img src="{% static 'imagenes/SubDirImg.png' %}" alt="" width="700">
    </div>
    <br>
    <div class="content">
        <h2>{{ usuario.cve_posgrad }} - {{ usuario.nom_program }}</h2>
        <h1>Autorización para preinscripciones: {{ periodo }} </h1>

        <p></p>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</header>

<body>

<main>

    <div id="respuesta-servidor"></div>

    <table id="tabla_estudiantes" class="display" style="width:100%">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">CATEGORÍA</th>
            <th scope="col">MATRÍCULA</th>
            <th scope="col">NOMBRE(S)</th>
            <th scope="col">CONSEJO PARTICULAR</th>
            <th scope="col">AETA</th>
            <th scope="col">ADJUNTAR AETA</th>
        </tr>
        </thead>
        <tbody>
        <!-- La lista de estudiantes se cargará aquí dinámicamente -->
        {% for est in data %}
            <tr>
                <!--La función forloop.counter devuelve el número de veces que se ha iterado el ciclo for -->
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ est.niveestu }}</td>
                <td>{{ est.cve_estud }}</td>
                <td>{{ est.nombres }} {{ est.apellidos }}</td>
                <td class="consejop-cell">{% if est.consejop %}REGISTRADO{% else %}NO REGISTRADO{% endif %}</td>

                <td class="aeta-cell">
                    <input type="checkbox" class="aeta-checkbox" {% if est.aeta %}checked{% endif %} disabled>
                </td>

                <td class="adjuntar-cell">
                    <div>
                        <label for="archivo">Adjuntar PDF:</label>
                        <input type="file" class="archivo" name="pdf" accept=".pdf" max-size="2097152">
                        <button type="button" class="btnAdjuntar" data-estudiante="{{ est.cve_estud }}">Adjuntar</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Los datos de la tabla se cargarán aquí -->
    <div>
        <button class="btn logout-button" type="submit" id="logout-button">Cerrar sesión</button>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.jqueryui.min.js"></script>

<script>
    document.getElementById("logout-button").addEventListener("click", function() {
        window.location.href = "/cordins/logout/";
    });

    new DataTable('#tabla_estudiantes');

    // Obtener todos los botones "Adjuntar" por su clase
    const botonesAdjuntar = document.querySelectorAll(".btnAdjuntar");

    botonesAdjuntar.forEach(function(btnAdjuntar) {
        btnAdjuntar.addEventListener("click", function() {
            console.log('se esta ejecutando');
            const fila = this.closest("tr");
            const archivoInput = fila.querySelector(".archivo");
            const archivoSeleccionado = archivoInput.files[0];
            const cve_estud = this.dataset.estudiante; // Obtener el ID del estudiante desde el atributo "data-estudiante"
            const cve_program = '{{ usuario.cve_program }}';

            // const cve_estud = document.querySelector("input[name='cve_estud']").value;


            if (archivoSeleccionado) {
                console.log("archivoSeleccionado:", archivoSeleccionado);

                // Crear un objeto FormData para enviar el archivo y el ID del estudiante al servidor
                const formData = new FormData();
                formData.append("pdf", archivoSeleccionado);
                formData.append("cve_estud", cve_estud); // Usar el valor de data-estudiante
                formData.append("cve_program", cve_program);

                // Obtener el token CSRF desde las cookies
                const csrftoken = getCookie("csrftoken");

                // Agregar el token CSRF al encabezado de la solicitud
                fetch(`/cordins/recibir_archivo/`, {
                    method: "POST",
                    body: formData,
                    headers: {
                        "X-CSRFToken": csrftoken
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        // Mostrar la respuesta del servidor en el div de respuesta
                        const respuestaServidorDiv = document.getElementById("respuesta-servidor");
                        respuestaServidorDiv.textContent = data.message;

                        // Verificar si la respuesta fue exitosa
                        if (data.success) {
                            // Recargar la página si la respuesta es exitosa
                            location.reload();
                        }
                    })
                    .catch(error => {
                        console.log("Error al enviar el archivo:", error);
                    });
            } else {
                console.log("Ningún archivo seleccionado.");
            }
        });

        // Función para obtener el valor de una cookie específica
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    });

</script>

</body>
</html>