<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Agrega estilo tabla de datos Boostrap -->
    <link rel="stylesheet" href="{% static 'Boostrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS_EST/mis_cursos.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>SINSCRIP</title>
</head>
<body>

<main>
    <!-- La imagen institucional -->
    <div class="center-image">
        <img src="{% static 'imagenes/SubDirImg.png' %}" alt="" width="500">
    </div>

    <div>
        <h1>CAMBIOS EN LA INSCRIPCION {{ periodo }} {{ anio }}</h1>
        <h1>ALTAS Y BAJAS </h1>
    </div>

    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div>
        <div class="container">
            <table id="datos_estudiante" class="table">
                <tr>
                    <th>PROGRAMA </th>
                    <td>{{ programa.cve_posgrad }} - {{ programa.nom_program }}</td>
                </tr>
                <tr>
                    <th>ESTUDIANTE </th>
                    <td>{{ estudiante.nombres }} {{ estudiante.apellidos }}</td>
                </tr>
                <tr>
                    <th>MATRICULA </th>
                    <td>{{ estudiante.cve_estud }}</td>
                </tr>
                <tr>
                    <th>PERIODO ACADÉMICO </th>
                    <td>{{ periodo }}</td>
                </tr>
                <tr>
                    <th>CATEGORÍA </th>
                    <td>{{ estudiante.niveestu }}</td>
                </tr>
                <tr>
                    <th>FECHA DEL MOVIMIENTO </th>
                     <td id="fecha"></td>
                </tr>

            </table>
        </div>

        <div class="button-container">
            <a class="btn btn-success" href="{% url 'inscrip:selecciona_curso' %}" onclick="guardarSesion()">+ Curso Regular</a>
            <a class="btn btn-dark" onclick="crearAsistira()">+ Investigación</a>
            <a href="https://youtu.be/IWfT3SunImY" class="btn btn-warning" role="button" target="_blank">Ver Tutorial</a>
        </div>

        <div class="container-1" content="center">
            <div class="row border-custom-1">
                <table id="registrodecursos" class="display" style="width:100%">
                    <!-- Código de encabezado de la tabla, etc. -->
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">CLAVE</th>
                        <th scope="col">NOMBRE DEL CURSO</th>
                        <th scope="col">CLAVE</th>
                        <th scope="col">PROFESOR TITULAR</th>
                        <th scope="col">MOVIMIENTO</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for curso in capcursos %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if curso.gpo_670 %}
                                    {{ curso.cve_curso }}-{{ curso.gpo_670 }}
                                {% else %}
                                    {{ curso.cve_curso }}
                                {% endif %}
                            </td>
                            <td>{{ curso.nombre }}</td>
                            <td>{{ curso.cve_academic }}</td>
                            <td>{{ curso.nom_academic }} {{ curso.apellidos }}</td>
                            <td>
                                <select name="movimiento" id="movimiento" class="form-select">

                                    <option value="0">ALTA</option>
                                    <option value="0">BAJA</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <a class="btn btn-secondary" href="{% url 'inscrip:guardar_boleta' %}">Guardar y Enviar </a>
        <button class="btn logout-button" type="submit" id="logout-button">Cerrar Sesión</button>
    </div>
    <hr>
    <div>
        <!-- Aquí puedes agregar el contenido de tu pie de página -->
        <p class="text-center"> NOTA: El Profesor consejero u orientador es el responsable directo de la planeación y seguimiento del plan de estudios del
            estudiante </p>
    </div>
</main>
<script>
    // Función para verificar si se debe mostrar el mensaje de bienvenida
    function mostrarMensajeDeBienvenida() {
        // Comprueba si ya se ha mostrado el mensaje
        if (!document.cookie.includes("mensajeMostrado")) {
            // Muestra el mensaje de bienvenida
            alert("¡Bienvenido al Sistema de inscripciones en Línea!");
            // Establece una cookie para indicar que el mensaje se ha mostrado
            document.cookie = "mensajeMostrado=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
        }
    }

    // Llama a la función al cargar la página
    mostrarMensajeDeBienvenida();
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.jqueryui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    document.getElementById("logout-button").addEventListener("click", function() {
        window.location.href = "/siayb/logout/";
    });
</script>

<script>
    // Obtener la fecha actual
    var fechaActual = new Date();

    // Array de nombres de meses en español
    var nombresMeses = ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE"];

    // Obtener el día, el mes y el año
    var dia = fechaActual.getDate();
    var mes = fechaActual.getMonth(); // Los meses en JavaScript se indexan desde 0 (enero es 0).
    var anio = fechaActual.getFullYear();

    // Formatear la fecha en el formato deseado
    var fechaFormateada = dia + ' ' + nombresMeses[mes] + ' ' + anio;

    // Insertar la fecha formateada en el elemento 'td'
    document.getElementById('fecha').textContent = fechaFormateada;
</script>

</body>
</html>