<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Agrega estilo tabla de datos Boostrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Boostrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/agregacurso.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <title>{{ titulo }}</title>
</head>

<body>
<main>
    <!-- La imagen institucional -->
    <div class="center-image">
        <img src="{% static 'imagenes/SubDirImg.png' %}" alt="" width="600">
    </div>
    <hr>
    <h1> {{ usuario.cve_posgrad }} - {{ usuario.nom_program }}</h1>
    <br>
    <form method="POST" action="/capcursapp:agregar_curso/" class="row g-2" id="formulario">
        {% csrf_token %}
        {{ formulario.as_p }}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                Curso registrado exitosamente!
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend style="text-align: center;">Curso</legend>
                    <hr>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div style="display:flex; align-items:center; justify-content: center;">
                                <label for="cve_curso" style="width:150px;">Clave:</label>
                                <select name="cve_curso" id="cve_curso" class="form-select" style="width:calc(100% - 150px);" onchange="guardarDatos(); document.getElementById('cve_curso').value = this.value;">
                                    <option value="" selected disabled>-- Selecciona una opción --</option>
                                    {% for curso in loscursos %}
                                        <option value="{{ curso.cve_curso }}" {% if curso.cve_curso == formulario.cve_curso.value %}selected{% endif %}>
                                            {{ curso.cve_curso }} : {{ curso.nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div style="display:flex; align-items:center;">
                                <label for="creditos" style="display:inline-block;width:150px;">Créditos:</label>
                                <input type="text" name="creditos" id="creditos" class="form-control" style="width:calc(100% - 150px);" readonly>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend style="text-align: center;">Profesor titular</legend>
                    <hr>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div style="display:flex; align-items:center;">
                                <label style="width:calc(100% - 50px);">Clave</label>
                                <label for="cve_academic"></label><select name="cve_academic" id="cve_academic" class="form-select" style="width:500px" onchange="guardarDatos()" >
                                <option value="" selected disabled>-- Selecciona una opción --</option>
                                {% for academico in academicos %}
                                    <option value="{{ academico.cve_academic }}"> {{ academico.cve_academic }}: {{ academico.nombres }} {{ academico.apellidos }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <!-- Ventana emergente para agregar colaboradores -->
                    <div content="center">
                        {% if formulario.cve_curso.value %}
                            <div content="center">
                                <a class="btn btn-secondary" href="{% url 'capcursapp:agregar_colab' cve_curso='' %}" id="btnAgregarColaboradores" onclick="abrirVentanaEmergente(event)">Agregar Colaboradores</a>
                            </div>
                        {% else %}
                            <div content="center">
                                <a class="btn btn-secondary" id="btnAgregarColaboradores" disabled>Agregar Colaboradores</a>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Fin-->
                </fieldset>
            </div>
        </div>
        <hr>
        <h2>Ingrese horarios donde corresponda</h2>

        <!-- Limites -->

        <div class="container" content="center">
            <div class="row border-custom">

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Lunes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="lunes_ini"></label><input type="time" name="lunes_ini" id="lunes_ini" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="lunes_fin"></label><input type="time" name="lunes_fin" id="lunes_fin" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Martes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="martes_ini"></label><input type="time" name="martes_ini" id="martes_ini" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="martes_fin"></label><input type="time" name="martes_fin" id="martes_fin" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Miércoles</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="miercoles_ini"></label><input type="time" name="miercoles_ini" id="miercoles_ini" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="miercoles_fin"></label><input type="time" name="miercoles_fin" id="miercoles_fin" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Jueves</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="jueves_ini"></label><input type="time" name="jueves_ini" id="jueves_ini" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="jueves_fin"></label><input type="time" name="jueves_fin" id="jueves_fin" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Viernes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="viernes_ini"></label><input type="time" name="viernes_ini" id="viernes_ini" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="viernes_fin"></label><input type="time" name="viernes_fin" id="viernes_fin" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Aula y Observaciones</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="observaciones"></label><textarea type="text" name="observaciones" id="observaciones" rows="1" class="form-control">Por definir </textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Limites --> <!-- Horario de pracica -->
        <br> <br>

        <hr>
        <a href="#" id="toggle-practicas">Horario de Prácticas</a>
        <div class="container" content="center" id="practicas" style="display:none;">
            <h3>Ingrese horarios de Prácticas</h3>
            <div class="row border-custom">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Lunes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="lunes_inip"></label><input type="time" name="lunes_inip" id="lunes_inip" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="lunes_finp"></label><input type="time" name="lunes_finp" id="lunes_finp" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Martes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="martes_inip"></label><input type="time" name="martes_inip" id="martes_inip" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="martes_finp"></label><input type="time" name="martes_finp" id="martes_finp" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Miércoles</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="miercoles_inip"></label><input type="time" name="miercoles_inip" id="miercoles_inip" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="miercoles_finp"></label><input type="time" name="miercoles_finp" id="miercoles_finp" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Jueves</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="jueves_inip"></label><input type="time" name="jueves_inip" id="jueves_inip" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="jueves_finp"></label><input type="time" name="jueves_finp" id="jueves_finp" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Viernes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="viernes_inip"></label><input type="time" name="viernes_inip" id="viernes_inip" class="form-control" value="00:00">
                        </div>
                        <div class="col-md-6">
                            <label for="viernes_finp"></label><input type="time" name="viernes_finp" id="viernes_finp" class="form-control" value="00:00">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Aula y Observaciones</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="observacionesp"></label><textarea type="text" name="observacionesp" id="observacionesp" rows="1" class="form-control">Por definir </textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Limites -->
        <hr>
        <br>
        <div content="center">
            <input type="submit" value="Guardar curso" class="btn btn-primary" id="guardar">
            <a class="btn btn-warning" href="{% url 'capcursapp:mostrar_cursos' %}">Cancelar</a>
        </div>
    </form>
</main>

<!-- Scripts asociados al html -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'JS/agregarcurso.js' %}"></script>

<!-- SCRIPT PARA BRIR VENTANA EMERGENTE DE AGREGAR COLABS-->


<!-- script para buscar curso selecionado-->
<script>
    $(document).ready(function() {
        $('#cve_curso').change(function() {
            var selectedValue = $(this).val();
            $.ajax({
                url: '/capcursapp:buscar_elemento/',
                type: 'GET',
                data: {
                    'elemento': selectedValue,
                    'tipo_elemento': 'curso'
                },
                dataType: 'json',
                success: function(data) {
                    $('#creditos').val(data['creditos']);
                    $('#cve_curso').val(data['cve_curso']);
                },
                error: function() {
                    alert('Hubo un error al buscar el curso seleccionado');
                }
            });
        });
    });


    $('#cve_academic').change(function() {
        var selectedValue = $(this).val();
        $.ajax({
            url: '/capcursapp:buscar_elemento/',
            type: 'GET',
            data: {
                'elemento': selectedValue,
                'tipo_elemento': 'profesor'
            },
            dataType: 'json',
            success: function(data) {
                $('#nom_academic').val(data['nom_academic']);
                $('#apellidos').val(data['apellidos']);
                $('#correo').val(data['correo']);
            },
            error: function() {
                alert('Hubo un error al buscar el profesor seleccionado');
            }
        });
    });
</script>


<!-- Scripts que actualiza el valor cve_curso para agregar colabs -->
<script defer>
    window.addEventListener('load', () => {
        const select = document.getElementById('cve_curso');
        const btnAgregarColab = document.getElementById('btnAgregarColaboradores');
        console.log(select);
        console.log(btnAgregarColab);
        select.addEventListener('change', () => {
            const selectedValue = select.value;
            btnAgregarColab.href = "/capcursapp:agregar_colab/" + selectedValue + "/";
        });
    });
</script>

<script>
    function guardarDatos() {
        var cve_curso = document.getElementById('cve_curso').value;
        var creditos = document.getElementById('creditos').value;
        var cve_academic = document.getElementById('cve_academic').value;
        localStorage.setItem('cve_curso', cve_curso);
        localStorage.setItem('creditos', creditos);
        localStorage.setItem('cve_academic', cve_academic);
    }
</script>

<!-- script para Descplegar horario de practicas-->
<script>
  $(document).ready(function() {
    $('#toggle-practicas').click(function(e) {
      e.preventDefault();
      $('#practicas').toggle();
    });
  });
</script>

<script>
    window.onload = function() {
        const cveCurso = localStorage.getItem('cve_curso');
        const creditos = localStorage.getItem('creditos');
        const cveAcademic = localStorage.getItem('cve_academic');

        if (cveCurso) {
            document.getElementById('cve_curso').value = cveCurso;
        }
        if (creditos) {
            document.getElementById('creditos').value = creditos;
        }
        if (cveAcademic) {
            document.getElementById('cve_academic').value = cveAcademic;
        }
    };

</script>

<script>
    const guardarBtn = document.querySelector('#guardar');

    guardarBtn.addEventListener('click', (event) => {
        event.preventDefault();

        const formulario = document.querySelector('#formulario');
        const formData = new FormData(formulario);

        fetch('/capcursapp:crear_capcurs/', {
            method: 'POST',
            body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Curso guardado con éxito. Código de estado: ${response.status}`);
                }

                const contentType = response.headers.get('content-type');
                if (!contentType || !contentType.includes('application/json')) {
                    throw new TypeError('La respuesta del servidor no es un objeto JSON válido.');
                }

                return response.json();
            })
            .then(data => {
                if (data.success) {
                    window.location.href = '/capcursapp:mostrar_cursos/';
                } else {
                    alert('Error al guardar el formulario JAJAJAJA.');
                    console.log('Error al guardar el formulario:', data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un error al procesar la solicitud.');
            })
    });
</script>

</body>
</html>