<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Agrega estilo tabla de datos Boostrap -->
    <link rel="stylesheet" href="{% static 'Boostrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS_EST/mis_cursos.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>SINSCRIP</title>
</head>
<body>

<main>
    <!-- La imagen institucional -->
    <div class="center-image">
        <img src="{% static 'imagenes/SubDirImg.png' %}" alt="" width="500">
    </div>

    <div>
        <h1>PRE-INSCRIPCIONES {{ periodo }} {{ anio }}</h1>
    </div>

    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div>
        <div class="container">
            <table id="datos_estudiante" class="table">
                <tr>
                    <th>PROGRAMA </th>
                    <td>{{ programa.cve_posgrad }} - {{ programa.nom_program }}</td>
                </tr>
                <tr>
                    <th>ESTUDIANTE </th>
                    <td>{{ estudiante.nombres }} {{ estudiante.apellidos }}</td>
                </tr>
                <tr>
                    <th>MATRICULA </th>
                    <td>{{ estudiante.cve_estud }}</td>
                </tr>
                <tr>
                    <th>PERIODO ACADÉMICO </th>
                    <td>{{ periodo }}</td>
                </tr>
                <tr>
                    <th>CATEGORÍA </th>
                    <td>{{ estudiante.niveestu }}</td>
                </tr>

            </table>
        </div>

        <div class="button-container">
            <a class="btn btn-success" href="{% url 'inscrip:selecciona_curso' %}" onclick="guardarSesion()">+ Curso Regular</a>
            <a class="btn btn-dark" onclick="crearAsistira()">+ Investigación</a>
            <a href="https://youtu.be/IWfT3SunImY" class="btn btn-warning" role="button" target="_blank">Ver Tutorial</a>
        </div>
        <div class="container-1" content="center">
            <div class="row border-custom-1">
                <table id="registrodecursos" class="display" style="width:100%">
                    <!-- Código de encabezado de la tabla, etc. -->
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">CLAVE</th>
                        <th scope="col">NOMBRE DEL CURSO</th>
                        <th scope="col">CLAVE</th>
                        <th scope="col">PROFESOR TITULAR</th>
                        <th scope="col">ELIMINAR</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for curso in capcursos %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if curso.gpo_670 %}
                                    {{ curso.cve_curso }}-{{ curso.gpo_670 }}
                                {% else %}
                                    {{ curso.cve_curso }}
                                {% endif %}
                            </td>
                            <td>{{ curso.nombre }}</td>
                            <td>{{ curso.cve_academic }}</td>
                            <td>{{ curso.nom_academic }} {{ curso.apellidos }}</td>
                            <td>
                                <button class="btn btn-danger" id="eliminar-curso-btn" onclick="elimina_curso('{{ curso.id_sinsevi }}')" style="background-color: #ffffff; color:#ff0000; border-color: transparent;">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <a class="btn btn-secondary" href="{% url 'inscrip:guardar_boleta' %}">Guardar y Enviar </a>
        <button class="btn logout-button" type="submit" id="logout-button">Cerrar Sesión</button>
    </div>
    <hr>
    <div>
        <!-- Aquí puedes agregar el contenido de tu pie de página -->
        <p class="text-center"> NOTA: El Profesor consejero u orientador es el responsable directo de la planeación y seguimiento del plan de estudios del
estudiante </p>
    </div>
</main>
<script>
    // Función para verificar si se debe mostrar el mensaje de bienvenida
    function mostrarMensajeDeBienvenida() {
        // Comprueba si ya se ha mostrado el mensaje
        if (!document.cookie.includes("mensajeMostrado")) {
            // Muestra el mensaje de bienvenida
            alert("¡Bienvenido al Sistema de inscripciones en Línea!");
            // Establece una cookie para indicar que el mensaje se ha mostrado
            document.cookie = "mensajeMostrado=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
        }
    }

    // Llama a la función al cargar la página
    mostrarMensajeDeBienvenida();
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.jqueryui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    document.getElementById("logout-button").addEventListener("click", function() {
        window.location.href = "/inscrip/logout/";
    });
</script>

<script>
    function crearAsistira() {
        // Obtener el token CSRF de las cookies
        const csrftoken = getCookie('csrftoken');

        fetch('/inscrip/crea_asistira690/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    window.location.reload();
                } else {
                    alert('Error al crear el curso.');
                }
            })
            .catch(error => {
                alert('Ha ocurrido un error en la solicitud.');
            });
    }

    // Función para obtener el valor del token CSRF de las cookies
    function getCookie(name) {
        const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
        return cookieValue ? cookieValue.pop() : '';
    }
</script>

<script>
    function elimina_curso(id_sinsevi) {
        const confirmacion = confirm("¿Estás seguro de que deseas eliminar este curso?");
        if (confirmacion) {
            // Si el usuario confirma la eliminación, redirige a la vista que eliminará el curso
            window.location.href = `/inscrip/elimina_uncurso/${id_sinsevi}/`;
        } else {
            // Si el usuario cancela la eliminación, no se hace nada
            return false;
        }
    }
</script>

</body>
</html>